<div class="row">
  <div class="col d-flex">
    <h2 mat-dialog-title class="ml-2 mb-1 title">{{ type }}</h2>
  </div>
  <div class="col">
    <div class="top_icon">
      <span mat-dialog-close> <i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
  </div>
</div>
<div class="row box-shadow">
  <div class="col">
    <mat-dialog-content class="mat-typography">
      <div [class.mt-50]="i>0" *ngFor="let count of tColumns; let i=index">
        <app-table [config]="tableConfig[i]" [tColumns]="tColumns[i]" [rowData]="data | async">
        </app-table>
      </div>
    </mat-dialog-content>
  </div>
</div>
